article {
  background-color: beige;
  width: 1000px;
  display: flex;
  padding: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #612406;
}

#honey {
  width: 500px;
}

#secondiv {
  margin-left: 25px;
}

@media screen and (max-width: 768px) {
  article {
    flex-direction: column-reverse;
    width: 600px;
  }
  #secondiv {
    margin-left: 0;
  }
}
