nav {
  background-color: beige;
  width: 700px;
  padding: 5px;
  border-radius: 30px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
}

li {
  background-color: #f3df85;
  border-radius: 30px;
  color: #612406;
  padding: 15px;
  display: flex;
  align-items: center;
}

li img {
  max-width: 35px;
  max-height: 35px;
  width: auto;
  height: auto;
}

#ape {
  align-self: stretch;
  font-weight: 800;
}

h1 {
  color: #612406;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 1000;
}
#main {
  display: flex;
}
